.reg {
    display: flex;
    justify-content: center;
}
.container-flex{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    margin:0.5rem;
    padding:0.5rem;
    width:45rem;
    border:1px solid gray;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}